#### This file lists dependencies required by PyMS which can be installed with pip
#### To install these dependencies run this command from the PyMS folder: python -m pip install -r requirements.txt
#### For help using pip you can view the documentation here: https://pip.pypa.io/en/latest/cli/pip_install/#
Pillow~=9.3;python_version<'3.12'
Pillow~=10.0;python_version=='3.12'
Pillow~=11.0;python_version=='3.13'
